/* pc.css */
.container {
   /*  outline: 1px solid orange; */
    max-width: 1200px; /* 가변 최대 1200px */
    margin: 0 auto;
    /* background: blue; */
}

/* 헤더영역 */
#title {
    background-image: url("../imgs/main_bg.jpg");
}
#main_header > .container{
    position: relative;
}
#main_header > .container > h1 {
    position: absolute;
    left: 20px; top: 20px;
}
#main_header > .container  #main_gnb {
    position: absolute;
    right: 220px; top: 20px;
}
#main_header > .container  #main_gnb li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
#main_header > .container  #util {
    position: absolute;
    right:0; top:20px;
}
#main_header > .container  #util li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
#main_gnb, #util {
    font-size: 15px;
}

/* gnb hover */
#main_gnb a:hover, #util a:hover {
    color: rgba(255,255,255,0.7);
    transition-duration: 0.2s;
}

/* 토글 메뉴, 장바구니 아이콘 비표시 */
#toggle, #util > ul > li  i {
    display: none;
}

/* 브랜드소개 */
#brand > .container {
    width: 100%;
}
#brand > .container > article {
    /* 소개글에 좌우 여백으로 집중 유도 */
    padding-left: 5%;
    padding-right: 5%;
    /* outline: 1px solid red; */
}


/* 신제품영역 */
#new_product .product_list {
    overflow: hidden;
    /* outline: 1px solid red; */
}

#new_product .product_list > li {
    /* width: 386.66px; */
    width: 32.33%;
    float: left;
    /* margin-right: 20px; */
    margin-right: 1.5%;
}
#new_product .product_list > li img {
    width: 100%;
}
#new_product .product_list > li:last-child {
    margin-right: 0;
}
#new_product .product_list > li > a {
    display: block;
}
#new_product .product_list .product_title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#new_product .product_list .price {
    font-weight: bold;
    font-size: 1.1em;
    color: #000;
    margin-right: 1em;
}
#new_product .product_list .origin_price {
    color: #999;
}

/* 뉴스 섹션 */
#news .container {
    overflow: hidden;
    /* outline: 1px solid red; */
}
#news article {
    width: 49.25%;
    float: left;
    margin-right: 1.5%;
    /* outline: 1px solid green; */
}
#news article:last-child {
    margin-right: 0;
}

/* 푸터영역 */
#footer_menu {
    display: flex;
}
#footer_menu > .list{
    /* outline: 1px solid red; */
    display: inline-block;
    width: 164px;
    margin-left: 2%;
}
#footer_menu > .list > a{
    display: block;
}
#footer_menu > .list > span{
    display: none;
}
#main_footer > .container > nav {
    position: relative;
    /* outline: 1px solid green; */
}
#find_shop {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    top: -170px; right: 2%;
}
#sns_button {
    position: absolute;
    right: 2.8%; top:-80px;
}
#find_shop > a {
    line-height: 55px;
}