/* style.css */

* {
    margin:0; padding:0; 
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:inherit;
}
ul { list-style-type: none; }
html, body {
    height: 100%;
}
body {
    color: #666;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Belleza', sans-serif; */
    line-height: 1.8em;
}
h1, h2, h3, h4 {
    font-family: 'Belleza', sans-serif;
    margin-bottom: 20px;
}
.title { font-family: 'Belleza', sans-serif; }
h2 { font-size: 32px;}
button {
    background: none;
    border: none;
    cursor: pointer;
}
section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
ins {
    text-decoration: none;
}
/* 헤더영역 */
#main_header {
    position: absolute;
    width: 100%;
    color: #fff;
}
#title {
    height: 100%;
    color: #fff;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
#title .title {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    /* outline: 1px solid red; */
}
#title .title > h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
#event .title > h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
#title .title > p,
#event .title > p
{
    font-size: 18px;
    margin-bottom: 30px;
}
.cta {
    width: 140px;
    height: 50px;
    font-size: 14px;
    line-height: 46px;
    display: inline-block;
    border: 2px solid #fff;
    transition-duration: 0.3s;
}
.cta:hover {
    background: rgba(255,255,255,0.3);
}
/* 브랜드 소개 */
#brand {
    display: flex;
    height: 400px;
    align-items: center;
}

/* 이벤트 섹션 */
#event {
    position: relative;
    height: 650px;
    background: #ccc;
    background-image: url('../imgs/action-bicycling-bike-biking-287398.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#event .title {
    width: 66%;
    position: absolute;
    left:50%; top:50%;
    transform:translate(-50%, -50%);
    /* outline: 1px solid red; */
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* 뉴스 섹션 */
#news article {
    height: 300px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: flex; /* flex 레이아웃 설정 */
    align-items: center; /* 수직 중앙정렬 */
    justify-content: center; /* 수평 중앙정렬 */
}
#news article:hover {
    border:1px solid #fff;
}
#news article:first-child {
    background-image: url('../imgs/event_bg01.jpg');
    background-size: cover;
    background-position: center;
}
#news article:last-child {
    background-image: url('../imgs/event_bg02.jpg');
    background-size: cover;
    background-position: center;
}

/* bxslider */
.slider {
    width: 100%;
}
.bx-wrapper {
    /* bx slider 테두리 제거 */
    border: none !important;
    box-shadow: none !important;
}

/* 푸터영역 */
#main_footer {
    background: #333;
}
#footer_menu > .list > h5 {
    font-size: 1.2em;
    margin-bottom: 8px;
}
#footer_menu > .list > a {
    font-size: 0.9em;
}
#footer_menu .list{
    color: #fff;
    margin-top: 30px;
}
#footer_menu .cash {
    font-size: 1.2em;
    color: #999;
}
#footer_menu .list:last-child p:nth-child(3){
    /* outline: 1px solid red; */
    margin-bottom: 1em;
}
#sns_button > a > img{
    /* outline: 1px solid red; */
    margin-left: 10px;
    margin-right: 10px;
}
#find_shop {
    border: 2px solid #fff;
    transition-duration: 0.3s;
}
#find_shop:hover {
    background: rgba(255,255,255,0.3);
}
#find_shop > a {
    color: #fff;
}
#footer_info {
    text-align: center;
    font-size: 12px
}
address {
    font-style: normal;
}
#footer_info {
    width: 100%;
    border-top: 1px solid #666;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#footer_info li a,
#footer_info li p,
#footer_info li address{
    display: inline-block;
    /* outline: 1px solid red; */
    margin-left: 10px;
    margin-right: 10px;
}
#footer_info li:first-child {
    font-size: 14px;
}
#footer_info li:first-child > a:last-child {
    color: #999;
}